.about {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: (1fr 1fr);
  grid-template-columns: (1fr 1fr);
  padding: 20px 0px 20px;
}
.about-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.about-tetx {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.about-illustartion {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.about img {
  width: 300px;
  height: auto;
}
