.contact {
  display: grid;
  min-height: 60vh;
  width: 100%;
  grid-template-rows: (1fr);
  grid-template-columns: (1fr);
  padding: 50px 0px 50px 0;
}
.contact-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.contact-table {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 8px;
  width: 100%;
  /* text-align: center; */
}
.contact-table {
  margin: 48px;
}
tr {
  text-align: left;
}
.contact-table img {
  width: 24px;
  height: 24px;
  padding-right: 8px;
  margin-right: 4px;
}
