.tech-stack {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	padding: 50px 0px 50px 0;
}
.tech-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: space-between;
	justify-content: flex-start;
}
.tech-paragraph {
	width: 50%;
	padding-right: 48px;
}

.tech-stack-cards {
	padding: 8px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: min-content;
}
.tech-stack-cards .card img {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 0.5rem;
}
